.sidebar {
    background: #333333;
    width: 300px;
    height: 100vh;
    position: sticky;
}

.container {
    padding-top: 16px;
}

.sidebar_item {
    margin: 8px 32px;
    padding: 16px 32px;
    border-radius: 16px;
    cursor: pointer;
}
.sidebar_item:hover {
    background: #646cff;
}
.inactive {
    color: #ffffff;
    text-decoration: none;
}
.active {
    color: #646cff;
    text-decoration: none;
    box-shadow: -2px -36px 1px 10px #646cff;
}
.inactive:hover {
    color: #fff;
}
.active:hover {
    color: #fff;
}
